# pandas cheat code (Series와 Dataframe의 기초)

## index
* Series & Dataframe
* Basic mathod
* Column basic handling 
* Data grouping
* Series basic
* Dataframe basic
* Data Save & Load

In [1]:
import pandas as pd

____

## Series & Dataframe

- Series: Column in excel
- Dataframe: Sheet in excel
- Dataframe = one or more Series

In [2]:
# Create Series
s1 = pd.Series([1, 2, 3], name='A')
s2 = pd.Series([4, 5, 6], name='B')
s3 = pd.Series([7, 8, 9], name='C')

# Create DataFrame from Series
df = pd.DataFrame({'A': s1, 'B': s2, 'C': s3})

df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

____
## basics mathod for type of Dataframe

`df.head(num)` - 상위 num개 row를 확인 (defalut = 5)


`df.tail(num)` - 상위 num개 column를 확인 (defalut = 5)


`df.shape` - dateframe의 row, column 수를 출력


`df.columns` - dataframe의 column 이름들을 출력


`df.info()` - dateframe의 정보를 출력


`df.dtype()` - dateframe의 data type 출력

|판다스 자료형|파이썬자료형|설명|
|--|--|--|
|object|string|문자열|
|int64|int|정수|
|float64|float|소수점을 가진 숫자|
|dateitme64|datetime|파이썬 표준 라이브러리인 datetime이 반환하는 자료형|

#### Data의 이해
  
`df.values` = DataFrame의 모든 데이터 출력  
`df.index` = DataFrame의 모든 index 출력  
`df.columns` = DataFrame의 모든 columns 출력  
`df.shape` = DataFrame의 Shape 값 출력

____
## Column data extract

`temp_df = df['columns_name']`
- temp_df 변수에 df의 columns_name이라는 열의 속성을 초기화 
- Series type으로 Series 메소드 전부 사용 가능. (ex. `temp_df.head()`)
- <class 'pandas.core.series.Series'>

`subset_df = df[['columns_name1','columns_name2','columns_name3']]`<br>
`subset_df = df[list(columns)]`
- list type의 columns_name을 parameter로 전달하여 Dataframe type의 변수 초기화 가능
- subset_df 변수에 df의 colums_name1, colums_name2, colums_name3 이라는 열들의 속성을 초기화 
- Dataframe type으로 Dataframe 메소드 전부 사용 가능. (ex. `subset_df.head()`)
- <class 'pandas.core.frame.DataFrame'>

____
## row data extract

### extract by index

`df.loc[index]`<br>
`df.loc[df.shape[0]-1]` * 최하단 row
- df의 index 기준으로 행 데이터 추출
- Series, Dataframe 메소드 사용 가능


`df.loc[[1,2,3,4]]`
`df.loc[list(index_list)]`
- several row 출력 가능

### extract by row number

`df.iloc[row]`<br>
`df.iloc[-1]` * 최하단 row
- df의 row number 기준으로 행 데이터 추출
- Series, Dataframe 메소드 사용 가능


`df.iloc[[1,2,3,4]]`
`df.iloc[list(row_list)]`
- several row 출력 가능

____
## extract by slicing and range mathod

### by slicing

`subset_df = df.loc[:, ['column_name1', 'column_name2']]`
- 모든 행 [:] / 특정 열 ['column_name1', 'column_name2'] 데이터 출력


`subset_df = df.iloc[:, [2, 4, -1]]`
- 모든 행 [:] / 특정 열 [2, 4, -1] 데이터 출력

### by range mathod

```
temp_list = list(range(1,10,2))
subsetr_df = df.iloc[:,temp_list]
```


- 모든 행[:] / temp_list를 입력받아 해당 열 데이터 출력

### by slicing like range mathod

`subset_df = df.iloc[:, 0:6:2]`<br>
`subset_df = df.iloc[:, :6:2]`<br>
`subset_df = df.iloc[:, list(range(0,6,2))]`
- 모든 행[:] / 0~6까지 2 단위로 열 데이터 출력


`subset_df = df.iloc[1:10:3, :6:2]`
- 1~10까지 3 단위로 행 데이터 / 0~6까지 2 단위로 열 데이터 출력

____
## Data grouping and calculate mean by groupby mathod

### single grouping

`df.groupby('year')['lifeExp'].mean()`
- 'year' column의 같은 값의 lifeExp 값들을 그룹화한 뒤 그것의 평균을 return 하는 코드
- 위 과정을 하나하나 세분화 시킨것은 아래와 같습니다.

1. `grouped_year_df = df.groupby('year')` - <class 'pandas.core.groupby.groupby.DataFrameGroupBy'>
2. `grouped_year_df_lifeExp = grouped_year_df['lifeExp'] ` - <pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000028E8CCD2278>
3. `mean_lifeExp_by_year = grouped_year_df_lifeExp.mean() ` - <class 'pandas.core.groupby.groupby.SeriesGroupBy'>

#### 예시/전체 Dataframe
```
       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351
```


#### df.groupby('year')['lifeExp'].mean()
```
year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64
```

### multiple grouping

`df.groupby(['continent', 'year'])[['lifeExp', 'gdpPercap']].mean()`
- 'year', 'continet'열로 그룹화한 그룹 dataframe에서 lifeExp, gdpPercap 열만 추출하여 평균 값을 return 하는 코드

#### multi_group_var = df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean() 
```
year continent                         
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455
1962 Africa     43.319442   1598.078825
     Americas   58.398760   4901.541870
     Asia       51.563223   5729.369625
     Europe     68.539233   8365.486814
     Oceania    71.085000  12696.452430
1967 Africa     45.334538   2050.363801
     Americas   60.410920   5668.253496
     Asia       54.663640   5971.173374
     Europe     69.737600  10143.823757
     Oceania    71.310000  14495.021790
1972 Africa     47.450942   2339.615674
     Americas   62.394920   6491.334139
     Asia       57.319269   8187.468699
...
     Americas   73.608120  11003.031625
     Asia       70.728485  12473.026870
     Europe     77.648600  25054.481636
     Oceania    80.719500  29810.188275     
```

#### multi_group_var = df.groupby(['continent', 'year'])[['lifeExp', 'gdpPercap']].mean() 
- 핵심은 groupby 바로 다음 column의 순서이다. 순서에 따라 그룹화 우선순위가 정해진다.
```
continent year                         
Africa    1952  39.135500   1252.572466
          1957  41.266346   1385.236062
          1962  43.319442   1598.078825
          1967  45.334538   2050.363801
          1972  47.450942   2339.615674
          1977  49.580423   2585.938508
          1982  51.592865   2481.592960
          1987  53.344788   2282.668991
          1992  53.629577   2281.810333
          1997  53.598269   2378.759555
          2002  53.325231   2599.385159
          2007  54.806038   3089.032605
Americas  1952  53.279840   4079.062552
          1957  55.960280   4616.043733
          1962  58.398760   4901.541870
          1967  60.410920   5668.253496
          1972  62.394920   6491.334139
          1977  64.391560   7352.007126
          1982  66.228840   7506.737088
          1987  68.090720   7793.400261
          1992  69.568360   8044.934406
          1997  71.150480   8889.300863
          2002  72.422040   9287.677107
...
          1992  76.945000  20894.045885
          1997  78.190000  24024.175170
          2002  79.740000  26938.778040
          2007  80.719500  29810.188275
```

### groupby nunique() mathod

`df.groupby('continent')['country'].nunique()`
- 그룹화한 데이터의 개수가 몇 개인지 알아보는 mathod / 통계에서는 '빈도수'라고 부른다.
- 'continent' column에서 country의 고유 요소 갯수를 return 해주는 mathod

#### 출력
```
continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64
```

____
## create Series and Dataframe

### create Series

#### 기본형
```
s = pd.Series(['banana', 42])


0    banana
1        42
dtype: object
```

#### 기본형 (index 설정)
```
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])


Person         Wes McKinney
Who       Creator of Pandas
dtype: object
```

### create Dataframe

#### 기본형

In [3]:
scientists = pd.DataFrame({ 
    'Name': ['Rosaline Franklin', 'William Gosset'], 
    'Occupation': ['Chemist', 'Statistician'], 
    'Born': ['1920-07-25', '1876-06-13'], 
    'Died': ['1958-04-16', '1937-10-16'], 
    'Age': [37, 61]}) 

scientists

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

### Index 설정

In [4]:
scientists = pd.DataFrame(
data={'Occupation': ['Chemist', 'Statistician'], 
        'Born': ['1920-07-25', '1876-06-13'], 
        'Died': ['1958-04-16', '1937-10-16'],
        'Age': [37, 61]},
index=['Rosaline Franklin', 'William Gosset'],
columns=['Occupation', 'Born', 'Died', 'Age']) 

scientists

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

* index 이름 설정  
`df.index.name = "idx"`  

* index 초기화 (기존 사용하던 index는 옆 column으로 이동하고 새로운 index 사용)  
`df.reset_index()`  

* index 초기화(기존 사용하던 index 삭제)  
`df.reset_index(drop=True)`  

* 특정 column을 index로 설정  
`df.set_index('column_name')`  

* index 기준 정렬  
`df.sort_index()` (오름차순)  
`df.sort_index(ascending=False)` 내림차순  

* 위 코드는 전부 seed data에 반영이 되지 않으며 파라미터로 `inplace=True` 옵션을 넣어주면 seed data에 반영이 된다.

____
## Series basic1

### Series index

In [5]:
print(scientists.index)
print(scientists.index[0])

Index(['Rosaline Franklin', 'William Gosset'], dtype='object')
Rosaline Franklin

### Series value

In [6]:
print(scientists.values)

[['Chemist' '1920-07-25' '1958-04-16' 37]
 ['Statistician' '1876-06-13' '1937-10-16' 61]]

### Series key

In [7]:
print(scientists.keys())
print(scientists.keys()[0])

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
Occupation

### mean, min, max, std mathod

In [8]:
ages = scientists['Age'] 

ages

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [9]:
print("mean: ",ages.mean())
print("min: ",ages.min())
print("max: ",ages.max())
print("std: ",ages.std())

mean:  49.0
min:  37
max:  61
std:  16.97056274847714

### another Series mathod

|Series mathod|Described|
|--|--|
|append|two Series linked|
|describe|calculate summary statics|
|drop_duplicates|Remove duplicate rows|
|equals|verify the equality between two Dataframe|
|get_values|Series value return|
|isin|verify the equality of values between two Series|
|min|minimum value return|
|max|maximum value return|
|mean|average value return|
|median|madian value return|
|replace|replace "A" Series.value to "B"|
|sample|return a random value from a specific column or row in a Dataframe or Series|
|sort_values|sort values|
|to_frame|convert Series to Dataframe|
|nlargest(n)|내림차순으로 정렬된 n개의 데이터 출력|
|unique()|해당 칼럼의 고유의 값들만 출력 (excel의 중복값 제거와 같은 개념)|
|nunique()|해당 칼럼의 고유의 값들의 갯수 출력|

### example using the Series method

#### basic

In [10]:
print(ages > ages.mean())
print()
print(ages[ages > ages.mean()])

Rosaline Franklin    False
William Gosset        True
Name: Age, dtype: bool

William Gosset    61
Name: Age, dtype: int64

#### Series broadcasting

In [11]:
print("normal Series")
print(ages,"\n")
print("broadcasting_1")
print(ages + ages," \n")
print("broadcasting_2")
print(ages + 100)

normal Series
Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

broadcasting_1
Rosaline Franklin     74
William Gosset       122
Name: Age, dtype: int64

broadcasting_2
Rosaline Franklin    137
William Gosset       161
Name: Age, dtype: int64

#### Sort

In [12]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

William Gosset       61
Rosaline Franklin    37
Name: Age, dtype: int64

____
## Dataframe basic

### boolen

In [13]:
# scientists Age 중 mean 값 초과만 출력하기
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                  Occupation        Born        Died  Age
William Gosset  Statistician  1876-06-13  1937-10-16   61

In [14]:
# index 순서대로 True면 출력 / False면 출력하지 않음
print(scientists.loc[[True,False]])

                  Occupation        Born        Died  Age
Rosaline Franklin    Chemist  1920-07-25  1958-04-16   37

### Dataframe boardcasting

In [15]:
print(scientists*2)

                                 Occupation                  Born  \
Rosaline Franklin            ChemistChemist  1920-07-251920-07-25
William Gosset     StatisticianStatistician  1876-06-131876-06-13

                                   Died  Age
Rosaline Franklin  1958-04-161958-04-16   74
William Gosset     1937-10-161937-10-16  122

### change column's type

In [16]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

Rosaline Franklin   1920-07-25
William Gosset      1876-06-13
Name: Born, dtype: datetime64[ns]

In [17]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

Rosaline Franklin   1958-04-16
William Gosset      1937-10-16
Name: Died, dtype: datetime64[ns]

In [18]:
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])

scientists

,Occupation,Born,Died,Age,born_dt,died_dt,age_days_dt
Rosaline Franklin,Chemist,1920-07-25,1958-04-16,37,1920-07-25,1958-04-16,13779 days
William Gosset,Statistician,1876-06-13,1937-10-16,61,1876-06-13,1937-10-16,22404 days

### remove column in Dataframe

In [19]:
print(scientists.columns)


scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped.columns)

Index(['Occupation', 'Born', 'Died', 'Age', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')
Index(['Occupation', 'Born', 'Died', 'born_dt', 'died_dt', 'age_days_dt'], dtype='object')

____
# Data save and load

### save to

* Save to Series data   
`names = df['column']`  
`names.to_pickle('file_dir')`


* pickle
`scientists.to_pickle('file_dir')`


* csv = Comma Seperated Value<br>
`names.to_csv('file_dir/file_name.csv', encoding='utf-8-sig')`  
추가로 파라미터에 `index=False` 옵션을 넣으면 index는 제외된채 저장됨.


* tsv = tab Seperated Value<br>
`names.to_csv('file_dir/file_name.tsv', sep='/t')`

* txt<br>
`names.to_csv('file_dir/file_name.txt', sep='/t')`  

* excel
`df.to_excel('df.xlsx)`

### load to

* csv  
`df = pd.read_csv('df.csv', skiprows=[1,2,3,4,5])` 파라미터로 입력 받은 rows는 읽어오지 않음.  
`df = pd.read_csv('df.csv', nrows=10)`  파라미터로 입력 받은 rows까지만 읽어옴.  
`df = pd.read_csv('df.csv', skiprows=[1,2,3,4,5], nrows=10)`  
그 외에도 excel 등 Save에서 사용했던 확장자 그대로 read도 가능하다.